* {
    margin: 0px;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    background-color: #c5c4ff;
    justify-content: flex-end;
    gap: 10px;
    height: 50px;
    width: 100%;
    margin: 0px;
}

aside{
    margin-right: 10px;
}


ul {
    margin-top: .5vh;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-right: 10%;
}

nav{
    width: 100%;
    height: 3vh;
    position: fixed;
    top: 35px;
    left: 0;
    background-color: #c4ffe6
}

body {
    background-size: cover;
    background-image: url("images/SF_logo.png"),
    linear-gradient( 135deg, #ff2c2c, #0396FF);
    background-size: 45%,
    100%;
    background-position: bottom right 20%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50px;
}

main {
    color: white;
}

.bio {
    display: relative;
    margin: 10% 15% 30% 49%;
}

@media screen and (min-width: 480px) {
    section.content {
    font-size: 20px;
    }
   }

   @media screen and (min-width: 768px) {
    section.content {
    font-size: 35px;
    }
   }

   @media screen and (min-width: 960px) {
    section.content {
    font-size: 45px;
    }
   }


   @media screen and (min-width: 1200px) {
    section.content {
    font-size: 4vh;
    }
   }


.projects {
display: relative;
margin: -25% 0 40% 60%;
}

.experience {
    display: relative;
    margin: -25% 0 40% 60%;
}



section {
    border: 2px green;
}

footer {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-around;
    bottom: 0;
    background-color: #c5c4ff;
    width: 100%;
    height: 6%;
}

#social {
display: flex;
}

.bio {
    position: relative;
    margin: 10.9% 50% 0 4%;
}